* {
    margin: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

.canvas {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: #8e9194;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.face {
    display: grid;
    width: 400px;
    height: 400px;
    background-color: #222020;
    border-radius: 100%;
}

.FACE {
    grid-area: 1 / 1;
    width: 400px;
    height: 400px;
}

.ears {
    display: flex;
    justify-content: space-between;
}

.left_ear {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 200px solid #222020;
}

.right_ear {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 200px solid #222020;
}

.innerEars {
    display: flex;
    justify-content: center;
    gap: 165px;
}

.left_innerEar {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid #636365;
    margin-top: 30px;
}

.right_innerEar {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 100px solid #636365;
    margin-top: 30px;
}

.forehead {
    display: flex;
    justify-content: center;
}

.forehead_item {
    width: 115px;
    height: 50px;
    background-color: #636365;
    margin-top: 35px;
    clip-path: ellipse(50% 50% at 50% 0%);
}

.snout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.snout_item {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-bottom: 125px solid #8e9194;
    border-right: 75px solid transparent;
    margin-top: 25px;
}

.glabella {
    display: flex;
    justify-content: center;
}

.glabella>.glabella_item {
    width: 175px;
    height: 125px;
    background-color: #636365;
    margin-top: 80px;
}

.nose {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nose>.nose_item {
    width: 70px;
    height: 35px;
    background-color: #222020;
    margin-top: 45px;
    clip-path: ellipse(50% 50% at 50% 0%);
}