* {
    margin: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

.canvas {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: #8e9194;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.face {
    display: grid;
    width: 400px;
    height: 400px;
    background-color: #222020;
    border-radius: 100%;
}